<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-2 control-label">支付公司：</label>
								<div class="col-sm-4">
									<select id="company" name="company" class="form-control" onfocus = "this.defaultIndex=this.selectedIndex;" 
											onchange="this.selectedIndex=this.defaultIndex;">
										<option th:each="payCompany:${payCompanys}" th:value="${payCompany.key}" th:text="${payCompany.value}"
										th:if="${payCompany.key eq payConfigCompany.company}" th:selected="selected"></option>
									</select>
								</div>
								<label class="col-sm-2 control-label">商户号：</label>
								<div class="col-sm-4">
									<input id="payMerch" name="payMerch" th:value="${payConfigCompany.payMerch}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">渠道：</label>
								<div class="col-sm-4">
									<select id="outChannel" name="outChannel" class="form-control" onfocus = "this.defaultIndex=this.selectedIndex;" 
											onchange="this.selectedIndex=this.defaultIndex;">
										<option th:each="outChannel:${outChannels}" th:value="${outChannel.key}" th:text="${outChannel.value}"
										th:if="${outChannel.key eq payConfigCompany.outChannel}" th:selected="selected"></option>
									</select>
								</div>
								<label class="col-sm-2 control-label">是否关闭 ：</label>
								<div class="col-sm-4">
									<label class="radio-inline"> <input
										type="radio" name="ifClose" value="0" th:if="${0 eq payConfigCompany.ifClose}" th:checked="checked"/>
										开启
									</label> <label class="radio-inline"> <input
										type="radio" name="ifClose" value="1" th:if="${1 eq payConfigCompany.ifClose}" th:checked="checked" />
										关闭
									</label>
								</div>
								
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">成本费率：</label>
								<div class="col-sm-4">
									<input id="costRate" name="costRate" class="form-control" th:value="${payConfigCompany.costRate}" type="number" max="0.02" min="0.0001" maxlength="6" required="required">
								</div>
								<label class="col-sm-2 control-label">代理费率：</label>
								<div class="col-sm-4">
									<input id="qhRate" name="qhRate" class="form-control" th:value="${payConfigCompany.qhRate}" type="number" max="0.03" min="0.0001" maxlength="6" required="required">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">单笔最大额：</label>
								<div class="col-sm-4">
									<input id="maxPayAmt" name="maxPayAmt"  th:value="${payConfigCompany.maxPayAmt}" class="form-control" type="number" max="99999999" min="1000" maxlength="8">
								</div>
								<label class="col-sm-2 control-label">单笔最小额：</label>
								<div class="col-sm-4">
									<input id="minPayAmt" name="minPayAmt" th:value="${payConfigCompany.minPayAmt}" class="form-control" type="number" max="999999" min="10" maxlength="6">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">时间段1选择：</label>
								<div class="col-sm-4">
									<input id="beginTime1"  type="text" readonly class="form-control form_datetime" style="width:90px;float: left" placeholder="时间段1起" title="时间段1开始时间" data-date-format="hh:ii" data-link-format="hh:ii">
									<span style="vertical-align:top;padding: 8px;float: left">-</span>
									<input id="endTime1" type="text" readonly class="form-control form_datetime" style="width:90px; float: left" placeholder="时间段1止" title="时间段1结束时间" data-date-format="hh:ii" data-link-format="hh:ii">
								</div>
								<label class="col-sm-2 control-label">时间段2选择：</label>
								<div class="col-sm-4">
									<input  id="beginTime2" type="text" readonly class="form-control form_datetime" style="width:90px;;float: left" placeholder="时间段2止" title="时间段2开始时间" data-date-format="hh:ii" data-link-format="hh:ii">
									<span style="vertical-align:top;padding: 8px;float: left">-</span>
									<input  id="endTime2" type="text" readonly class="form-control form_datetime" style="width:90px;;float: left" placeholder="时间段2止" title="时间段2结束时间" data-date-format="hh:ii" data-link-format="hh:ii">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">支付时间段：</label>
								<div class="col-sm-10">
									<input id="payPeriod" name="payPeriod" th:value="${payConfigCompany.payPeriod}" class="form-control" maxlength="25" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script><!-- 日期框 -->
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js"></script><!-- 日期框 -->
	<script type="text/javascript" src="/js/appjs/pay/payConfigCompany/edit.js">
	</script>
</body>
</html>
